### Maven ###
target/
pom.xml.*
!target/*.jar          # Keep final plugin JAR
dependency-reduced-pom.xml
buildNumber.properties
.mvn/                 # Exclude all Maven wrapper files

### IDE ###
# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
*.ipr

# VS Code
.vscode/

### System ###
.DS_Store
Thumbs.db

### Server Files ###
logs/
*.log
